# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Env
.env

# IDE
.cursor/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Токены и секреты
*.token
*.secret
secrets/

# Geodata files
scripts/geodata/
input_data/